/* #lightBoxContainer{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #53537080;
    z-index: 999;
}
#lightBox{
    background-image: url(/poert1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 50%;
    height: 70vh;
} */